<%= form_with(model: cheese, local: true) do |form| %>
  <% if cheese.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cheese.errors.count, "error") %> prohibited this cheese from being saved:</h2>

      <ul>
      <% cheese.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cheese_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :cheese_description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :cheese_type %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :cheese_brand %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin, id: :cheese_origin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
