<!DOCTYPE html>
<html>
  <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121892260-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121892260-1');
    </script>

    <title>uncheezd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Roboto" rel="stylesheet">
    <%= favicon_link_tag asset_path('filled_cheese.png') %>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.CHZ_TYPES = <%= raw Cheese::TYPES %>
    </script>
    <script type="text/javascript">
      window.clearChzImg = "<%= image_url('clear_cheese.png') %>"
      window.filledChzImg = "<%= image_url('filled_cheese.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
