<!DOCTYPE html>
<html>
  <head>
    <title>uncheezd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.CHZ_TYPES = <%= raw Cheese::TYPES %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
